<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!-- 配置上传文件最大字节数：单位KB -->
    <add key="PhysicsObjectLength" value="30720"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <!-- 设置请求的最大字节数（默认是4096，单位是KB） -->
    <httpRuntime maxRequestLength="40960"/>
  </system.web>
</configuration>